In [3]:
#21.Write a function to find the largest element in a list.
num=(10,26,267,286,987)
print('largest',max(num))

largest 987

In [6]:
#22.Write a function to remove duplicates from a list.
num=[1,2,2,3,3,4,4,5]
print("after removing ",list(set(num)))

after removing  [1, 2, 3, 4, 5]

In [8]:
#23.Write a function to return the sum of all elements in a list.
num=[10,20,30,40,50]
print("sum:",sum(num))

sum: 150

In [10]:
#24.Write a function to count even and odd numbers in a list.
num=[10,23450,230,46,45]
even =0
odd=0
for i in num:
    if i%2==0:
        even+=1
    else:
        odd+=1
print('even',even)
print('odd',odd)

even 4
odd 1

In [15]:
#25.Write a function to find the second largest number in a list.
num=[10,23,230,46,45,34,47]
num=list(set(num))
num.sort()
print("secand largest",num[-2])

secand largest 47

In [16]:
#26.Write a function to check if a list is sorted or not.
num=[10,23,230,46,45,34,47]
if num==sorted(num):
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

In [18]:
#27.Write a function to find common elements between two lists.
a=[1,2,3,4,5]
b=[3,4,5,6,7]

common = list(set(a)&set(b))
print("common elements:",common)

common elements: [3, 4, 5]

In [20]:
#28.Write a function to find the frequency of elements in a list.
num=[1,2,2,3,3,3,4]
for i in set(num):
     print(i,":",num.count(i))

1 : 1
2 : 2
3 : 3
4 : 1

In [22]:
#29.Write a function to reverse a tuple.
t=(10,20,30,40)
print("reversed tuple",t[::-1])

reversed tuple (40, 30, 20, 10)

In [23]:
#30.Write a function to convert a list into a tuple.
lst=[10,20,30,40]
print("tuple",tuple(lst))

tuple (10, 20, 30, 40)