In [5]:
#for true case 
age = 20
if age>=18:
    print("you are eligble to vote.")

you are eligble to vote.

In [8]:
#fot false case 
age = 12
if age>=18:
    print("you are eligble to vote.")

In [21]:
age = 20
if age>=18:
    print("you are eligble to vote.")
else:
    print("you are not eligble to vote.")

you are eligble to vote.

In [23]:
#to check grade of marks 
grade=85
if grade >=90:
    print("grade A")
elif grade>=80:
    print("grade B")
elif grade>=70:
     print("grade C")
else:
    print("grade F")

grade B

In [34]:
number=int(input('enter the no.'))
if number >0:
    print('number is positive number')
else:
    print('number is negative  number')

enter the no. -86

number is negative  number

In [41]:
#greater than between two number 
a=int(input('enter the number'))
b=int(input('enter the number'))
if b>a:
    print('b is greater than a')
else:
    print('b is not greater than a')

enter the number 67
enter the number 676

b is greater than a

In [5]:
a=10
b=20
temp=a
a=b
b=temp
print("value of a -",a)
print("value of b -",b)

value of a - 20
value of b - 10

In [1]:
#map to swap two numbers without using third variables
a=15
b=25
a,b=b,a
print("value of a -",a)
print("value of b -",b)

value of a - 25
value of b - 15

In [8]:
# while loop 
i=1
while(i<6):
    print(i)
    i=i+1

1
2
3
4
5

In [18]:
#even number 
i=2
while(i<10):
    print(i)
    i=i+2

2
4
6
8

In [17]:
i=1
while(i<10 ):
    print(i)
    i=i+2

1
3
5
7
9

In [19]:
i=2
while(i<21):
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [1]:
#sum of n nautral number 
n=int(input("enter the range: "))
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
    print("sum of naural no.:",sum)

enter the range:  4

sum of naural no.: 1
sum of naural no.: 3
sum of naural no.: 6
sum of naural no.: 10

In [2]:
i=1
while(i<6):
    print(i)
    if(i==3):
        break
    print(i)
    i=i+1

1
1
2
2
3

In [5]:
i=0
while i<6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [11]:
i = 1

while i<6:
    
    print(i)
    i += 1
else:    
 print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [12]:
#for loop
for i in range(6):
    print(i)

0
1
2
3
4
5

In [13]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [14]:
for i in range(2,33,3):
    print(i)

2
5
8
11
14
17
20
23
26
29
32

In [15]:
cars=['ford','audi','defender']
for i in cars:
    print(i)

ford
audi
defender

In [1]:
#nested for loop
l2=[1,2,3]
l3=["google","meta","fujitsu"]
for x in l2:
    for y in l3:
        print(x,y)

1 google
1 meta
1 fujitsu
2 google
2 meta
2 fujitsu
3 google
3 meta
3 fujitsu

In [10]:
#wap a program to find the factorial 
number=int(input("enter the number:"))
fact=1
for i in range(1,number+1):
    fact=fact*i
print("factorial of a number is =",fact)

enter the number: 5

factorial of a number is = 120

In [1]:
#funtions
def function_name(parameters):
    return expression

In [2]:
def even_odd(num):
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
even_odd(5)

the number is odd

In [12]:
#functions with multiple parameters
def add(a,b):
    return a+b

In [13]:
add(2,4)

6